<ion-view title="menu" hide-back-button="true" id="page1">
    <ion-content padding="true" class="has-header">
        <ion-list id="menu-list3">
            <ion-item class="item-icon-right" id="menu-list-item2" ui-sref="informacion">informacion
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="menu-list-item3" ui-sref="principal">Principal
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>