<ion-view title="Principal" id="page3" style="background-color:#34A2A7;">
    <ion-content padding="true" class="has-header">
        <button id="principal-button3" style="border-radius:2767000013px 2767000013px 2767000013px 2767000013px;" class="button button-positive  button-block">Tap me!</button>
        {{valores.X}}
         {{valores.Y}}
          {{valores.estado}}
          {{valores.Z}}
          >
         &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp <input id="bart1" title="boton" align="down" alt=" conton comprar " width="50" height="50" src="img/bart.png" type="image" />
      </br></br></br></br></br></br> 
  		</br></br></br></br></br></br> 
       <input title="boton" id="bart2" align="left" alt=" conton comprar " width="50" height="50" src="img/bart.png" type="image" />
 		<input title="boton" id="bart3" align="right" alt=" conton comprar " width="50" height="50" src="img/bart.png" type="image" />
 		</br></br></br></br></br></br> 
  		</br></br>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  		 &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp 
 		<input title="boton" id="bart4" align="top" alt=" conton comprar " width="50" height="50" src="img/bart.png" type="image" /
    </ion-content>
</ion-view>